body {
  background-color: white;
  padding: 50px;
  
}

h1 {
  color: red;
}

p {
  color: white;
  background-color: gray;
  padding: 10px;
}

input {
  /*afastar do button*/
  margin: 10px;
}

button {
  color: white;
  background-color: green;
  cursor: pointer;
}